body {
  background: $ui-base-color;
  background-image: $green-diamonds;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
}

// Admin page
.admin-wrapper {
  background: $green-ui;
  background-image: $green-diamonds;

  .sidebar-wrapper {
    background: rgba(desaturate(darken($green-ui, 25%), 40%), 0.5);
  }

  .sidebar {
    ul {
      a {
        color: $brown-text;

        &:hover {
          color: $brown-text;
        }

        &.selected {
          background: desaturate(darken($green-ui, 12%),18%);
        }
      }
    }
  }

  .content-wrapper {
    background: $yellow-background;
  }

  .content {
    h2 { color: $brown-text; }
    h6 { color: $brown-text; }

    .muted-hint a {
      color: $brown-text;
    }
  }
}

// Forms
.simple_form {
  p.hint {
    &.subtle-hint {
      color: $green-text;

      a {
        color: $green-text;
        text-decoration: underline;
      }
    }

  }

  span.hint {
    color: $green-text;
  }

  button,
  .button,
  .block-button {
    background: saturate($green-text, 33%);
    color: $white;

    &:hover {
      background-color: darken($green-text, 5%);
    }

    &:active,
    &:focus {
      background-color: lighten($green-text, 10%);
    }
  }
}

.flash-message {
  color: $brown-text;
}

.form-footer {
  a {
    color: $green-text;
  }
}

// About page
body.about-body {
  background: $ui-base-color;
  background-image: $green-diamonds;
}

.landing-page {
  &__hero,
  &__information,
  &__call-to-action,
  &__forms {
    @include status-format();
  }

  &__logo img {
    mix-blend-mode: unset;
  }


  @for $i from 1 through 6 {
    h#{$i} {
      color: $pink-text;
    }
  }

  .header {
    .links {
      a {
        color: $pink-text;
      }
    }
  }

  .header-wrapper.compact {
    background: linear-gradient(150deg, lighten($ui-base-color, 8%), $ui-base-color);
  }

  .information-board {
    &__section strong {
      color: $pink-text;
    }

    .panel {
      @include status-format();
    }
  }

  .extended-description {
    padding: 50px 0;

    .container-alt {
      @include status-format();
      padding: 20px;
    }
  }
}

// Components
.button {
  background-color: saturate($green-text, 33%);
  color: $white;

  &:hover {
    background-color: lighten(saturate($green-text, 33%), 10%);
    box-shadow: $yellow-border;
  }

  &:focus {
    box-shadow: none;
  }

  &:disabled {
    background-color: darken($green-text, 5%);
  }

  &.button-alternative {
    background: lighten($green-text, 5%);
    &:hover {
      background-color: lighten(saturate($green-text, 33%), 5%);
    }
  }

  &.button-primary {
    color: $brown-text;
    background: lighten($green-text, 5%);
    background-color: darken($green-ui, 35%);
  }

  &.button-secondary {
    color: $brown-text;
    background-color: $green-ui;

    &:active,
    &:focus,
    &:hover {
      color: lighten($brown-text, 10%);
      background-color: darken($green-ui, 10%);
      box-shadow: none;
    }
  }
}
