body {
  background: $ui-base-color;
  background-image: $green-diamonds;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
}

// About page
body.about-body {
  background: $ui-base-color;
  background-image: $green-diamonds;
}

.simple_form p.hint.subtle-hint a {
  color: $green-text;
  text-decoration: underline;
}

.landing-page {
  &__hero,
  &__information,
  &__call-to-action,
  &__forms {
    @include status-format();
  }

  &__logo img {
    mix-blend-mode: unset;
  }


  @for $i from 1 through 6 {
    h#{$i} {
      color: $pink-text;
    }
  }

  .header {
    .links {
      a {
        color: $pink-text;
      }
    }
  }

  .header-wrapper.compact {
    background: linear-gradient(150deg, lighten($ui-base-color, 8%), $ui-base-color);
  }

  .information-board {
    &__section strong {
      color: $pink-text;
    }

    .panel {
      @include status-format();
    }
  }

  .extended-description {
    padding: 50px 0;

    .container-alt {
      @include status-format();
      padding: 20px;
    }
  }
}

// Components
.button {
  background-color: saturate($green-text, 33%);
  color: $white;

  &:hover {
    background-color: lighten(saturate($green-text, 33%), 10%);
    box-shadow: $yellow-border;
  }

  &:focus {
    box-shadow: none;
  }

  &:disabled {
    background-color: darken($green-text, 5%);
  }

  &.button-alternative {
    background: lighten($green-text, 5%);
    &:hover {
      background-color: lighten(saturate($green-text, 33%), 5%);
    }
  }

  &.button-primary {
    color: $brown-text;
    background: lighten($green-text, 5%);
    background-color: darken($green-ui, 35%);
  }

  &.button-secondary {
    color: $brown-text;
    background-color: $green-ui;

    &:active,
    &:focus,
    &:hover {
      color: lighten($brown-text, 10%);
      background-color: darken($green-ui, 10%);
      box-shadow: none;
    }
  }
}
